animating.js
article-slide_old_01.js
article-slide_old_02.js
article-slide_old_03.js
dragdealer.js
dragdealer_edited.js
dragdealer.css
dragdealer_try.html
session-article-slide.vim
tween-test.js
*~
.backup/
.swap/
*.swp
