html {
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: #141414;
}
#wrapper {
    position: relative;
    /*margin: 0 auto;/**/
    /*padding: 0px;/**/
    background: #1e1e1e;
    /*border: 1px solid #1e1e1e;/**/
    border: 1px solid #808080;/**/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.main_container_vertical {
    position: relative;/**/
    /*overflow: scroll;/* This is added dynamicaly in javascript. */
    /*top: 5px;/**/
    margin: 0 auto;
    padding: 0px;
    /*border: 0px;/**/
    /*width: 900px;*/
    /*height: 400px;/**/
    background: #1e1e1e;
    border: 1px solid #808080;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.main_container_horizontal {
    position: relative;/**/
    /*overflow: scroll;/* This is added dynamicaly in javascript. */
    /*top: 5px;/**/
    margin: 0 auto;
    padding: 0px;
    /*border: 0px;/**/
    /*width: 900px;*/
    /*height: 400px;/**/
    background: #1e1e1e;
    border: 1px solid #808080;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#sliding_div {
    position: relative; /* Consider this to absolute, for browsers flow calculation reduction.*/
    /*margin: 0 auto;/**/
    /*top: 10px;*/
    padding: 0px;
    border: 0px;
    /*width: 900px;/**/
    width: 0px;
    /*height: 390px;/**/
    /*background: #151515;  /* Default. */
    background: #808080;  /* Test. */
    /*background: yellow;/**/
}

.article_item {
    position: absolute;/**/
    /*margin: 0px;/**/
    width: 150px;
    height: 100px;/**/
    background: #5a5a5a;
    border-radius: 10px;
    border: 5px solid #151515;/**/
}
.article_item:hover {
    background: #7b7b7b;
    border: 5px solid #959595;/**/
}

.navigation_vertical {
    position: absolute;/**/
    margin: 0 auto;
    /*top: 0px;/**/
    /*width: 50px;/**/
    /*height: 400px;/**/
    /*background: #1f1f1f;/**/
    background: #484848;/**/
    border: 1px solid #484848;
    color: #818181;
}
.navigation_horizontal {
    position: absolute;/**/
    margin: 0 auto;
    /*top: 0px;/**/
    /*width: 50px;/**/
    /*height: 400px;/**/
    /*background: #1f1f1f;/**/
    background: #484848;/**/
    border: 1px solid #484848;
    color: #818181;
}
.navigation {
}
.navigation:hover {
    background: #2d2d2d;
    border: 1px dashed #808080;
    cursor: pointer;/**/
}

#up_left_nav {
    /*position: relative;/**/
    /*left: 0px;/**/
    /*float: left;/**/
}

#down_right_nav {
    /*position: relative;/**/
    /*right: 0px;/**/
    /*float: right;/**/
}

#drag_div {
    position: absolute;
    visibility: hidden;
    /*background: #808080;/**/
    background: #4c0000;
    left: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 7px;
    z-index: 127;
}
#slider_div:hover {
    /*background: #707070;/**/
    background: #800000;
    cursor: pointer;
}
